<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="container">

<!-- <pre>{{newProducts | json:2}}</pre>
 -->
<h2>New Product(s)</h2>
  <input type="button" class="btn btn-primary" value="Add Range" data-ng-click="addRow()"/>
  <input type="button" class="btn btn-success" value="Save Changes" data-ng-click="update()"/>
  <br>
  <table class="table table-bordered table-hover">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Stores</th>
    </tr>
    <tr data-ng-repeat="(productIndex, each) in newProducts">
      <td><input type="button" class="btn btn-danger" value="Delete" data-ng-click="removeRow(productIndex)"/></td>
      <td>
        <input  
         ng-model="each.name" 
         placeholder="New Product"
         type="text"
         class="form-control"/>
      </td>
      <td>
        <div ng-repeat="store in stores">
          <input type="checkbox" name="vehicle" value="Bike" ng-model="each.store[store.id]">{{store.name}}<br>
        </div>
          
      </td>
    </tr>
  </table>

</div>
