<nav class="navbar navbar-custom navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        shopping list
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/')}"><a ui-sref="home">Home</a></li>
        <li ng-class="{ active: isActive('/products/new')}"><a ui-sref="new-product">New Product</a></li>
        </li>

      </ul>


      
    </div>
  </div>
</nav>
